#fullscreen_image_div{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color:  rgba(0, 0, 0, 0.9);
    display: none;
    opacity: 0;
    transition: 0.3s;
}

#fullscreen_image{
    width: 95vw;
    height: calc(100vh - 5vw);
    object-fit: contain;
}

#fullscreen_image_close{
    width: 2vw;
    height: 2vw;
    position: fixed;
    top: 0.5vw;
    right: 0.5vw;
    background-color: transparent;
    border: 0;
    background-image: url("/graphics/UI/close.png");
    background-repeat: no-repeat;
    background-size: contain;
}