*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
/*
    font-family: 'NewYork';
    font-weight: normal;
    font-style: normal;
*/
}

@font-face {
    font-family: NewYork;
    src: url("../fonts/NewYork.ttf") format("opentype");
}

body{
    overflow: hidden;
    background-color: #EEF1EA;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#header_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

#header_text h1{
    font-size: 12rem;
    font-family: 'NewYork';
    font-weight: lighter;
    letter-spacing: 1vw;
}

#title_gradient{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 12rem;
    /* background: rgb(255,255,255); */
    /* background: linear-gradient(0deg, #F2F7FD 5%, rgba(0,0,0,0) 100%); */
}

#header_text h2{
    font-size: 4rem;
    font-family: 'Roboto';
    font-weight: lighter;
    z-index: -1;
}

#mapa_div{
    width: calc(150vw / 2);
    height: calc(70vw / 2);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#mapa{
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: shadow_animation 2s alternate linear infinite;
}

@keyframes shadow_animation{
    0%{
        filter: drop-shadow(0 0 5px black);
    }

    100%{
        filter: drop-shadow(0 10px 15px black);
    }
}

.pin_div_outer{
    position: absolute;
    top: 0;
    left: 0;
    animation: pin_text_animate 3s linear infinite alternate;
}

#pin_div_monachium{top: calc(14vw / 2); left: calc(46vw / 2);}
#pin_div_salzburg{top: calc(12vw / 2); left: calc(82vw / 2);}
#pin_div_obsteig{top: calc(31vw / 2); left: calc(58vw / 2);}

.pin_div_inner{
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pin_text{
    color: white;
    letter-spacing: 1px;
    font-size: 1.1vw;
    text-align: center;
    filter: drop-shadow(0 0 15px crimson);
    text-shadow: 1px 1px 0px rgba(112, 94, 94, 0.5);
    transition: 0.4s;
}

.pin_div_inner:hover > .pin_text{transform: scale(1.1);}
.pin_div_inner:hover > .pin{transform: scale(1.1);}

@keyframes pin_text_animate {
    0%{
        filter: drop-shadow(0 0 5px crimson);
    }
    100%{
        filter: drop-shadow(0 0 45px crimson);
    }
}

.pin{
    width: calc(4.5vw / 2);
    height: calc(6vw / 2);
    object-fit: contain;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    animation: pin_animate 2s ease-in-out infinite alternate;
    transition: 0.4s;
}

@keyframes pin_animate{
    0%{
        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
    }
    100%{
        filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.5));
    }
}